BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
EMAIL_FROM="Manthan <noreply@aixpense.in>"
FIRECRAWL_API_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=
INNGEST_DEV=1
MONGO_URI=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
OPENAI_API_KEY=
RESEND_API_KEY=
